<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    div{
        padding:20px;
        align-content:center;
    }
    </style>
</head>
<body>
    <form action="/tentifies" method="POST">
   <div>
     <label for="title">Enter Title</label>
    <input type="text" name="title" id="title" required >
   </div>

    <div>
     <label for="location">Location</label>
    <input type="text" name="location" id="location" required >
   </div>


    <div>
    <input type="submit">
   </div>
        <a href="/tentifies/">Back</a>
    </form>
</body>
</html>