<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= tenty.title %></h1>
    <h3><%= tenty.location %></h3>

    <a href="/tentifies">Back to view all</a>
    <br>
    <br>
     <a href="/tentifies/<%= tenty._id %>/edit">Edit This</a>

     <br>

      <a href="/tentifies/<%= tenty._id %>/deleting">Delete This</a>
</body>
</html>